<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Resume</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1>Upload Your Resume</h1>
        <form action="{{ url_for('resume_parser.upload_file') }}" method="post" enctype="multipart/form-data">
            <div>
                <label for="resume">Select a PDF file to upload:</label>
                <input type="file" id="resume" name="resume" accept="application/pdf" required>
            </div>

            <div>
                <label for="resume">Job Description:</label>
                <textarea id="job" name="job" rows="4" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required></textarea>
            </div>
            <div>
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
</body>
</html>
